
        body,h1,h2,h3,h5,h6,html {
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            background-color: rgba(250, 248, 248, 0.986);
        }

        *{
            box-sizing: border-box;
        }
     

        .container .item {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
        }


        .container .item div {
            flex: 1;

        }

        .container .img-verticale {
            box-sizing: border-box;
            width: 100%;
            align-self: center;
            
        }     
                      

        hr {
            border: solid rgb(120, 159, 245);
            width: 50px;
            margin-left: 0;
        }

        .container .card-verticale {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 20%;
            background-color:rgb(202, 199, 199);
        }

        .container .card-verticale:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

       

        .title {
            padding: 2px 16px;
            
        }


        .figure-verticale {
            margin-inline-start: 0;
            margin-inline-end: 40px;
            margin-block-start: 0;
            margin-block-end: 0;
            border-color: black;
            display: inline-block;
            text-align: left;
            margin: 0;
        }

       

        .container-sopra {
            display: flex;
            flex-wrap: nowrap;
            justify-content:space-between;
        }
        
        .container-giu {
            display: flex;
            flex-wrap: nowrap;
            justify-content:space-between;
        }
        
      
       
        .p-verticale {
            text-align: center;
            color: rgb(120, 159, 245);;
            height: 50px;
            background-color:rgb(202, 199, 199);
            font-size: small;
        }
       

        .inline {
            display: inline-block;
        }

        a {
            color: rgb(97, 164, 240);
            text-align:left;
        }

        .container .img:hover {
            transition: .2s ease-in-out;
        }

        .container .img:hover {
            -webkit-transform:scale(1.3);
            transform:scale(1.3);
   
            }


        .btn:hover{
            background-color:rgb(132, 170, 172);           

        }
        
        .btn{
            background-color:rgb(238, 244, 245);       

        }

        h2{
            color: rgb(120, 159, 245) ;
        }

        .footer{
            color: rgb(21, 21, 110);
        }

        /*style home*/
        .container .img {
            border-radius: 50%;
            box-sizing: border-box;
            width: 200px;
            height: 200px;           
            text-align:center;
         }


         .center {
            text-align: center;
            padding: 20px;
        }
         .row {
             margin: 0 -1rem; 
             display: flex;
             justify-content: center;
             flex-wrap: wrap;

        }
        .card_image{
            text-align: center;
            padding-top: 1rem;
        }


        .col-50{
            padding: 1rem;
            width: 50%;
        }
        .col-50:first-child{
            padding-left: 0;
        }
        .col-50:last-child{
            padding-right: 0;
        }

        .h6-verticale{
            color: rgb(120, 159, 245);
            background-color: white;
        }

       /*style biografia*/

        .img {
            border-radius: 50%;
            box-sizing: border-box;
            width: 200px;
            height: 200px;  
            transition: .5s ease-in-out;
            
         }         

         .align{
            text-align: justify;
        }

       .libro{
            text-align:left;           	
            transition: .5s ease-in-out;

       }
        .libro:hover{
                  
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);          
        }
